<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
    
    <section class="page-head">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.tagline }}</h2>
      <a href="{{ site.projecturl }}" class="btn">View on GitHub</a>
      <a href="{{ site.blogurl | prepend: site.baseurl }}" class="btn">Blog posts</a>
      <a href="{{ site.docsurl | prepend: site.baseurl }}" class="btn">Documentation</a>
    </section>

    <section class="main-content">
      
      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>
</html>
